body {

	/*background-image: url('../img/background.jpg');
	background-repeat:repeat;*/
	background-size: cover;
	background-image: url('../img/bg_pic.jpg'); 
	/* background-color: #303030; */
	font-family: 'PT Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	overflow: hidden;
}

.menu {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	height: 0px;
}

.menu ul {
	position: relative;
	top: -90px;
	z-index: 0;
}

.menu li {
	position: relative;
	display: inline-block;
	background: url(../img/menu_divider.png) right center no-repeat;
	padding: 20px 21px;
	margin-left: -16px;
	font: 42.019999999999996px 'Contrail One';
	color: white;
}

.menu a {
	text-decoration: none;
	color: white;
}

.logo{
	background-image: url('../img/logo_pic.png');
	height: 150px;
	width: 350px;
	position: relative;
	top: 40px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

.logo_text{
	position: relative;
	top: 30px;
	background-image: url('../img/logo_text.png');
	background-repeat: no-repeat;
	height: 170px;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.subtitle {
	position: relative;
	top: 50px;
	background: url(../img/subtitle.png) right center no-repeat;
	height: 60px;
	width: 142px;
	margin-left: auto;
	margin-right: auto;
}

.social_network li{
	display: inline-block;
}

.social_network {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.wrap{
	position: relative;
	left: 800px;
	background: url(../img/page_loader_bg.jpg);
	width: 1250px;
	height: 370px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	display: none;
	opacity: 0;
	top: 60px;
	clear: both;
	border-radius: 10px;
}

.wrap p {
	color: white;
}

.subwrap {
	float: left;
	height: 320px;
	width: 281px;
	padding: 10px;
	padding-top:30px;
	padding-left: 20px;
	/* border: 1px solid white; */
}

.news {
	margin-top: 35px;
}

.news_title{
	color: white;
	font: 20px 'Contrail One';
}

.subwrap .title{
	font: 30px 'Contrail One';
	margin-left: 0px;
}

.subwrap p{
	font: 11px 'PT Sans',Arial,"Helvetica Neue",Helvetica,sans-serif;
	line-height: 15px;
	color: #FFF;
	text-align: justify;
}

.subwrap p i {
	color: #ffb6aa;
}

.subwrap ul {
	font: 11px 'PT Sans',Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: #FFF;
	line-height: 20px;
	font-style: italic;
}

.collage{
	margin-top: 30px;
	/*background: url(../img/list_bg.jpg); */
	padding: 5px;
	border-radius: 10px;
}

.collage table{
	padding: 0px;
	margin: 0px;
	border-spacing: 0;
	border-collapse: collapse;
}

.collage table td{
	padding: 0;
	margin: 0;
	border-spacing: 0px;
	border-collapse: collapse;
}

.index{
	overflow: hidden;
	height: 430px;
	display: none;
}